*.db
*.tlog
*.1.tlog
*.log
*.obj
*.iobj
*.ipdb
*.pdb
*.pch
*.ipch
*.opendb
*.json
packages/
*.dll
*.exe
cmake-build-debug/
cmake-build-release/

# clion stuff
.idea/

# conan stuff
conanbuildinfo.*
conaninfo.txt
graph_info.json